.header {
  padding-top: 16px;
  padding-bottom: 16px;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  background-color: #fff;
  z-index: 3;

  &__container {
    display: flex;
    @media screen and (max-width: 768px) {
      justify-content: space-between;
    }
   
  }

  &__list {
    display: none;
    gap: 50px;
    align-items: center;
    @media screen and (min-width: 768px) {
      display: flex;
      margin-right: 71px;
      margin-left: 88px;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      margin-right: 315px;
      margin-left: 93px;
    }
  }

  &__listadres {
    display: none;
    @media screen and (min-width: 768px) {
      @include flexbox($position-x: flex-start);
      flex-direction: column;
      row-gap: 10px;
    }
    @media screen and (min-width: 1200px) {
      @include flexbox($position-x: flex-start, $position-y: center, $gap: 30px);
      flex-direction: row;
    }
  }

  &__iconpost {
    width: 14px;
    height: 10px;
    fill: $text-color2;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icontel {
    width: 10px;
    height: 16px;
    fill: $text-color2;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__itemader {
    @include flexbox($position-x: flex-start, $position-y: center);
  }

  &__itemader:hover &__icontel {
    fill: $accent-color;
  }

  &__itemader:hover &__iconpost {
    fill: $accent-color;
  }

  

  &__span {
    color: $title-color;
    @extend %text-styles;
  }

  &__title {
    color: $accent-color;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.72px;
    display: flex;
    align-items: center;
    @media screen and (min-width: 1200px) {
      font-family: Raleway;
      font-size: 26px;
      font-weight: 700;
      letter-spacing: 0.03em;
    }
  }

  &__link {
    color: $text-color1;
    @extend %link-styles;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__after::after {
    opacity: 1;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    position: absolute;
    bottom: -28px;
    border-radius: 2px;
  }

  &__link:hover {
    color: $accent-color;
  }

  &__email {
    color: $text-color2;
    @extend %link-styles;
    margin-left: 8px;
    @include flexbox($position-x: flex-start, $position-y: center);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__email:hover {
    color: $accent-color;
  }

  &__tel:hover {
    color: $accent-color;
  }

  &__tel {
    color: $text-color2;
    @extend %link-styles;
    @include flexbox($position-x: flex-start, $position-y: center);
    margin-left: 8px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__burger {
    border: none;
    background: none;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__imgburger {
    width: 40px;
    height: 40px;
  }
}

.wrapper {
  padding-top: 70px;
}
