.header {
  background-color: $background-color1;
  // border-bottom: 1px solid $line-color;
  padding-top: 24px;
  padding-bottom: 25px;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  z-index: 3;

  &__after::after {
    opacity: 1;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    position: absolute;
    bottom: -28px;
    border-radius: 2px;
  }

  &__container {
    @include flexbox;
  }

  &__list {
    margin-right: 318px;
    margin-left: 93px;
    @include flexbox($position-x: flex-start, $position-y: center, $gap: 50px);
  }

  &__iconpost {
    width: 16px;
    height: 12px;
    fill: $text-color2;
  }

  &__icontel {
    width: 10px;
    height: 16px;
    fill: $text-color2;
  }

  &__listadres {
    @include flexbox($position-x: flex-start, $gap: 30px);
  }
  
  &__itemader {
    @include flexbox($position-x: flex-start, $position-y: center);
  }

  &__itemader:hover &__icontel {
    fill: $accent-color;
  }

  &__item-ader:hover &__iconpost {
    fill: $accent-color;
  }

  &__span {
    color: $title-color;
    font-style: normal;
    line-height: normal;
    @include title-style($letter-spacing: 0.78em);
  }

  &__title {
    color: $accent-color;
    @include title-style($font-size: 26px);
  }

  &__link {
    color: $text-color1;
    @include title-style($letter-spacing: 0.02em, $font-size: 14px, $font-weight: 500);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover {
    color: $accent-color;
  }

  &__email {
    color: $text-color2;
    @include title-style($letter-spacing: 0.02em, $font-size: 14px, $font-weight: 500);
    margin-left: 10px;
    @include flexbox($position-x: flex-start, $position-y: center);
  }

  &__email:hover {
    color: $accent-color;
  }

  &__tel:hover {
    color: $accent-color;
  }

  &__tel {
    color: $text-color2;
    @include title-style($letter-spacing: 0.02em, $font-size: 14px, $font-weight: 500);
    @include flexbox($position-x: flex-start, $position-y: center);
    margin-left: 10px;
  }
}
