$accent-color: #2196f3;
$text-color1: #212121;
$text-color2: #757575;
$text-color3: #fff;
$text-color4: rgba(255, 255, 255, 0.6);
$background-color1: #fff;
$background-color2: #2f303a;
$title-color: #000;
$line-color: #ececec;
