.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  // outline: solid red;
  margin: 0 auto;
  @media screen and (min-width: 320px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

@keyframes foter-open {
  0% {
    transform: translateX(-500px);
  }

  50% {
    transform: translateX(-250px);
  }

  100% {
    transform: translateX(0);
  }
}

button,
a:focus {
  color: $accent-color;
}

button,
a {
  text-decoration: none;
}

body {
  font-family: Roboto;
}

