.activity {
  background-color: $background-color2;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__list {
    @include flexbox($gap: 30px);
    row-gap: 30px;
  }

  &__subitem {
    @media screen and (max-width: 480px) {
      width: 100%;
    }
  }

  &__subitem:first-child::before {
    content: "";
    display: block;
    background-image: url(../pictures/antenna.png);
    width: 450px;
    height: 120px;
    @extend %before-styles;
    @media screen and (max-width: 480px) {
      width: 100%;
    }
    @media screen and (min-width: 768px) {
      width: 354px;
      height: 120px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
      height: 120px;
    }
  }

  &__subitem:nth-child(2)::before {
    content: "";
    display: block;
    width: 450px;
    height: 120px;
    background-image: url(../pictures/clock.png);
    @extend %before-styles;
    @media screen and (max-width: 480px) {
      width: 100%;
    }
    @media screen and (min-width: 768px) {
      width: 354px;
      height: 120px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
      height: 120px;
    }
  }

  &__subitem:nth-child(3)::before {
    content: "";
    display: block;
    width: 450px;
    height: 120px;
    background-image: url(../pictures/diagram.png);
    @extend %before-styles;
    @media screen and (max-width: 480px) {
      width: 100%;
    }
    @media screen and (min-width: 768px) {
      width: 354px;
      height: 120px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
      height: 120px;
    }
  }

  &__subitem:nth-child(4)::before {
    content: "";
    display: block;
    width: 450px;
    height: 120px;
    background-image: url(../pictures/astronaut.png);
    @extend %before-styles;
    @media screen and (max-width: 480px) {
      width: 100%;
    }
    @media screen and (min-width: 768px) {
      width: 354px;
      height: 120px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
      height: 120px;
    }
  }

  &__subitem::before {
    background: $background-color3;
  }

  &__subtitle {
    color: $text-color1;
    @include title-style($font-size: 14px);
    text-transform: uppercase;
    margin-bottom: 10px;
    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }

  &__text {
    color: $text-color2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
  }
}
