.activity {
  background-color: $background-color2;
  padding-top: 94px;
  padding-bottom: 94px;

  &__list {
    @include flexbox($gap: 30px);
  }

  &__subitem:first-child::before {
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    background-image: url(../pictures/antenna.png);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    background-position: center;
    box-sizing: content-box;
    border-radius: 4px;
  }

  &__subitem:nth-child(2)::before {
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    background-image: url(../pictures/clock.png);
    @extend %before-styles;
  }

  &__subitem:nth-child(3)::before {
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    background-image: url(../pictures/diagram.png);
    @extend %before-styles;
  }

  &__subitem:nth-child(4)::before {
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    background-image: url(../pictures/astronaut.png);
    @extend %before-styles;
  }

  &__subitem::before {
    background: $background-color3;
  }

  &__subtitle {
    color: $text-color1;
    @include title-style($font-size: 14px);
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__text {
    color: $text-color2;
    line-height: 1.71;
    @include title-style($font-size: 14px, $letter-spacing: 0.03em, $line-height: 1.71);
  }
}

