.header {
  padding-top: 16px;
  padding-bottom: 16px;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  background-color: #fff;
  z-index: 3;

  &__container {
    display: flex;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    @media screen and (max-width: 768px) {
      justify-content: space-between;
    }
  }

  &__list {
    display: none;
    gap: 50px;
    align-items: center;
    @media screen and (min-width: 768px) {
      display: flex;
      margin-right: 71px;
      margin-left: 88px;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      margin-right: 315px;
      margin-left: 93px;
    }
  }

  &__listadres {
    display: none;
    @media screen and (min-width: 768px) {
      @include flexbox($position-x: flex-start);
      flex-direction: column;
      row-gap: 10px;
    }
    @media screen and (min-width: 1200px) {
      @include flexbox(
        $position-x: flex-start,
        $position-y: center,
        $gap: 30px
      );
      flex-direction: row;
    }
  }

  &__iconpost {
    width: 14px;
    height: 10px;
    fill: $text-color2;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icontel {
    width: 10px;
    height: 16px;
    fill: $text-color2;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__itemader {
    @include flexbox($position-x: flex-start, $position-y: center);
  }

  &__itemader:hover &__icontel {
    fill: $accent-color;
  }

  &__itemader:hover &__iconpost {
    fill: $accent-color;
  }

  &__span {
    color: $text-color5;
    @extend %text-styles;
  }

  &__title {
    color: $accent-color;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.72px;
    display: flex;
    align-items: center;
    @media screen and (min-width: 1200px) {
      font-family: Raleway;
      font-size: 26px;
      font-weight: 700;
      letter-spacing: 0.03em;
    }
  }

  &__link {
    color: $text-color1;
    @extend %link-styles;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__after::after {
    opacity: 1;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    position: absolute;
    bottom: -28px;
    border-radius: 2px;
  }

  &__link:hover {
    color: $accent-color;
  }

  &__email {
    color: $text-color2;
    @extend %link-styles;
    margin-left: 8px;
    @include flexbox($position-x: flex-start, $position-y: center);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__email:hover {
    color: $accent-color;
  }

  &__tel:hover {
    color: $accent-color;
  }

  &__tel {
    color: $text-color2;
    @extend %link-styles;
    @include flexbox($position-x: flex-start, $position-y: center);
    margin-left: 8px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__burger {
    border: none;
    background: none;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__iconburger {
    width: 40px;
    height: 40px;
    fill: black;
  }
}

/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', serif;
  color: #1f373d;
}

a {
  text-decoration: none;
  color: #1f373d;
}

/* header */
header {
  width: 1024px;
  max-width: 100%;
  margin: 0 auto;
  padding: 35px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  font-size: 25px;
  font-weight: 600;
  flex-grow: 1;
}

/* nav-menu */
nav {
width: 100%;
  flex-grow: 3;
  height: 100%;
}
.nav_menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_menu a{
  font-size: 13px;
  font-weight: 400;
}
input[type="checkbox"],
label {
  display: none;
}

/* join_block */
.join_block {
  flex-grow: 1;
  text-align: right;
}
.join {
  background: none;
  border: none;
  padding: 0 20px;
  transition: opacity .3s;
}
.started {
  background: #ffcc01;
  border: none;
  border-radius: 6px;
  padding: 14px 25px 13px;
  transition: opacity .3s;
}
.join:hover,
.started:hover {
  opacity: .7;
  cursor: pointer;
}

/* mobile menu */
@media (max-width: 768px) {
  nav {
    order: 1;
  }
  label {
    display: block;
    height: 30px;
    width: 30px;
    margin-left: auto;
    position: relative;
  }
  label:hover {
    cursor: pointer;
  }
  label span {
    top: 15px;
  }
  label span,
  label span::before,
  label span::after {
    content: '';
    display: block;
    width: 24px;
    height: 2.5px;
    background: #333;
    position: absolute;
    right: 0;
    transition: .3s;
  }
  label span::before {
    top: -5px;
  }
  label span::after {
    top: 5px;
  }
  .nav_menu {
    display: none;
  }
  input[type="checkbox"]:checked ~ .nav_menu{
    display: flex;
    flex-direction: column;
  }
  input[type="checkbox"]:checked ~ label span {
    transform: rotate(-45deg);
  }
  input[type="checkbox"]:checked ~ label span::before {
    top: 0;
    transform: rotate(0);
  }
  input[type="checkbox"]:checked ~ label span::after {
    top: 0;
    transform: rotate(90deg);
  }
  .nav_menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: #fff;
    box-shadow: 0 12px 8px #ececec;
  }
  .nav_menu li {
    margin: 15px 0;
  }
}


.wrapper {
  padding-top: 70px;
}
