.hero {
  background-color: $background-color1;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../pictures/frends.png);

  &__list {
    @include flexbox($position-x: flex-start, $position-y: center, $gap: 40px);
    flex-direction: column;
  }

  &__title {
    color: $text-color3;
    text-align: center;
    line-height: 1.36;
     @include title-style($font-size: 44px, $letter-spacing: 0.06em, $font-weight: 900);
    text-transform: uppercase;
    width: 696px;
  }

  &__button {
    text-align: center;
    line-height: 1.87;
    @include title-style($font-size: 16px, $letter-spacing: 0.06em);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 32px;
    padding-left: 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    background-color: $accent-color;
    color: $text-color3;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__button:hover {
    transform: scale(1.5, 1.5);
    transform: translate(30px, 15px);
  }
}
