.hero {
    background-color: var(--background-color1);
  }
  
  .hero-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../pictures/frends.png);
  }
  
  .hero-container {
    display: flex;
    justify-content: center;
  }
  
  .hero-title {
    color: var(--text-color3);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
  }
  
  .hero-button:hover {
    transform: scale(1.5, 1.5);
    transform: translate(30px, 15px);
  }
  
  .hero-button {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 32px;
    padding-left: 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    background-color: var(--accent-color);
    color: var(--text-color3);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }