$accent-color: #2196f3;
$text-color1: #212121;
$text-color2: #757575;
$text-color3: #fff;
$text-color4: rgba(255, 255, 255, 0.6);
$text-color5: #000;
$background-color1: #2f303a;
$background-color2: #fff;
$background-color3: #f5f4fa;
$icon-color: #afb1b8;
